@model E_Commerce.WebUI.Models.ShippingDetailsModel

@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Shipping Details</h4>
<form asp-controller="Cart" asp-action="Complete" method="post" >
    <div class="form-group" >
        <label asp-for=ShippingDetails.Firstname ></label>
        <input  asp-for=ShippingDetails.Firstname class="form-control" placeholder="Firstname" />
        <span class="bg-danger  p-auto text-white animate__animated animate__backInLeft " 
        asp-validation-for="ShippingDetails.Firstname" ></span>
    </div>
     <div class="form-group" >
        <label asp-for=ShippingDetails.Lastname ></label>
        <input  asp-for=ShippingDetails.Lastname class="form-control" placeholder="Lastname" />
        <span class="bg-danger  p-auto text-white animate__animated animate__backInLeft " asp-validation-for="ShippingDetails.Lastname" ></span>
    </div>
    
     <div class="form-group" >
        <label asp-for=ShippingDetails.Email ></label>
        <input  asp-for=ShippingDetails.Email class="form-control" placeholder="Email" />
        <span class="bg-danger  p-auto text-white animate__animated animate__backInLeft " asp-validation-for="ShippingDetails.Email" ></span>
    </div>
     <div class="form-group" >
        <label asp-for=ShippingDetails.City ></label>
        <input  asp-for=ShippingDetails.City class="form-control" placeholder="City" />
        <span class="bg-danger  p-auto text-white animate__animated animate__backInLeft " asp-validation-for="ShippingDetails.City" ></span>
    </div>
    <div class="form-group" >
        <label asp-for=ShippingDetails.Address ></label>
        <input  asp-for=ShippingDetails.Address class="form-control" placeholder="Address" />
        <span class="bg-danger  p-auto text-white animate__animated animate__backInLeft " asp-validation-for="ShippingDetails.Address" ></span>
    </div>
     <div class="form-group" >
        <label asp-for=ShippingDetails.Age ></label>
        <input  asp-for=ShippingDetails.Age class="form-control" />
        <span class="bg-danger  p-auto text-white animate__animated animate__backInLeft " asp-validation-for="ShippingDetails.Age" ></span>
    </div>
    <input type="submit" class="btn btn-xs btn-success" value="Complete Shopping" />
</form>
