@model E_Commerce.WebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div id="signupbox" style="margin-top:50px;"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right;font-size:85%;position:relative;top:-10px">
                    <a asp-controller="Account" asp-action="Login">Sign In</a>
                </div>
            </div>
            <div style="padding-top:30px;" class="panel-body">
                <div style="display:none;" id="login-alert"
                     class="alert alert-danger col-sm-12">
                </div>


                <form asp-controller="Account" asp-action="Register" method="post"
                      role="form" class="form-horizontal">

                    <div class="form-group">
                        <label asp-for="Username" class="col-md-3 control-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Username" class="form-control" placeholder="Username" />
                            <span asp-validation-for="Username"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-3 control-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>

                    </div>

                


                    <div class="form-group">
                        <label asp-for="Email" class="col-md-3 control-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>

                    </div>


                    <div class="form-group">
                      

                        <div class="col-md-offset-3 col-md-9">
                            <input  type="submit" class="btn btn-info" value="Register"/>
                        </div>

                    </div>





                </form>


            </div>
        </div>
    </div>
</div>