@model E_Commerce.WebUI.Models.ProductListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>

        <table class="table">
            <tr>
                <td>
                    Product Name
                </td>
                <td>
                    Unit Price
                </td>
                <td>
                    Unit In Stock
                </td>
            </tr>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock</td>
                </tr>
            }
        </table>

    </div>